@model EntityLayer.Concrete.Writer

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/writer-register/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/writer-register/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/writer-register/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/writer-register/css/style.css">

    <title>Livingston | Kayıt Ol</title>
</head>
<body>


    <div class="half">
        <div class="bg order-1 order-md-2" style="background-image: url('/writer-register/images/seagull.jpg'); "></div>
        <div class="contents order-2 order-md-1">

            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-6">
                        <div class="form-block">
                            <div class="text-center mb-5">
                                <h3><strong>Merhaba,</strong></h3>
                                <p class="mb-4">Livingston'a giriş yap veya hesap oluştur!</p>
                            </div>
                            @using (Html.BeginForm("Index", "Register", FormMethod.Post))
                            {
                                <div class="form-group first">
                                    @*<input type="text" class="form-control" placeholder="Ad" id="name">*@
                                    @Html.TextBoxFor(x => x.WriterName, new { placeholder = "Ad", @class = "form-control"})
                                    @Html.ValidationMessageFor(x => x.WriterName, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group first">
                                    @*<input type="text" class="form-control" placeholder="Soyad" id="surname">*@
                                    @Html.TextBoxFor(x => x.WriterSurname, new { placeholder = "Soyad", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.WriterSurname, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group first">
                                    @*<input type="text" class="form-control" placeholder="E-Posta" id="username">*@
                                    @Html.TextBoxFor(x => x.WriterMail, new { placeholder = "E-Posta", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.WriterMail, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group last mb-3">
                                    @*<input type="password" class="form-control" placeholder="Şifre" id="password">*@
                                    @Html.PasswordFor(x => x.WriterPassword, new { placeholder = "Şifre", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.WriterPassword, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group last mb-3">
                                    @*<input type="password" class="form-control" placeholder="Şifre (Tekrar)" id="password">*@
                                    @Html.PasswordFor(x => x.WriterConfirmPassword, new { placeholder = "Şifre (Tekrar)", @class = "form-control" })
                                    @Html.ValidationMessageFor(x => x.WriterConfirmPassword, "", new { @class = "text-danger" })
                                </div>

                                <div class="d-sm-flex mb-5 align-items-center">

                                </div>

                                <input type="submit" value="Kayıt Ol" class="btn btn-block btn-dark">

                            }
                            <hr />
                            <center>
                                <p><a href="/Login/WriterLogin/" class="register">Zaten bir hesabın var mı? Giriş Yap</a></p>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <script src="~/writer-register/js/jquery-3.3.1.min.js"></script>
    <script src="~/writer-register/js/popper.min.js"></script>
    <script src="~/writer-register/js/bootstrap.min.js"></script>
    <script src="~/writer-register/js/main.js"></script>
</body>
</html>
